<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="static/asset/css/style.css">

    <!--    Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <!--    Google Fonts -->
    <!--    BOOTSTRAP Icons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <!--    BOOTSTRAP Icons-->

    <script src="static/asset/js/menu.js" defer>
    </script>

    <title>Criatieve Hidraulica</title>
</head>
<body>

<header>
    <div class="interface">
        <img  src="static/asset/img/criative.jpg" alt="Criative Logo" style="width: 230px; height: auto;">
        <nav class="menu-desktop">
            <ul>
                <li> <a href="#topo-do-site"> Inicio</a></li>
                <li> <a href="#especialidades"> Serviços </a></li>
                <li> <a href="#sobre"> Sobre </a></li>
                <li> <a href="#portifolio"> Projetos </a></li>
            </ul>
        </nav>
        <div class="btn-contato">
            <a href="#formulario">
                <button> Contato </button>
            </a>
        </div>
        <div class="btn-abrir-menu" id="btn-menu">
            <i class="bi bi-list"></i>
        </div>

        <div class="menu-mobile" id="menu-mobile">
            <div class="btn-fechar">
                <i class="bi bi-x-circle"></i>
            </div>

                <nav>
                    <ul>
                        <li> <a href="#topo-do-site"> Inicio</a></li>
                        <li> <a href="#especialidades"> Serviços </a></li>
                        <li> <a href="#sobre"> Sobre </a></li>
                        <li> <a href="#portifolio"> Projetos </a></li>
                        <li> <a href="#formulario"> Contato</a></li>
                        <li> <a href="https://wa.me/5521967523816?text=I'm%20interested%20in%20your%20car%20for%20sale'">Wathsaap</a></li>
                    </ul>
                </nav>
        </div>
        <div class="overlay-menu" id="overlay-menu">
        </div>

    </div>
</header>
<main>
    <section class="topo-do-site" id="topo-do-site">
        <div class="interface">

            <div class="flex">

                <div class="txt-topo-site">
                    <h1>EMPRESA DE SERVIÇOS HIDRAULICOS<span>.</span></h1>

                    <p>A Criative Hidráulica, sob a direção de Robson, especializa-se em instalações e manutenções hidráulicas para o setor residencial, comercial e industrial,
                        abrangendo desde consertos pontuais até o desenvolvimento de projetos hidráulicos integrados.
                        A empresa é reconhecida pela implementação de estratégias que fomentam o trabalho em equipe,
                        com métodos que promovem a colaboração interna e a comunicação eficaz,
                        assegurando que todos na equipe estejam alinhados e contribuam para a solução dos problemas dos clientes. </p>


                    <div class="btn-contato">
                        <a href="#formulario">
                            <button> Entre em contato</button>
                        </a>

                        <a href="https://wa.me/5521967523816?text=I'm%20interested%20in%20your%20car%20for%20sale'" target="_blank">
                            <button><i class="bi bi-whatsapp">Iniciar Conversa</i></button>
                        </a>

                    </div>



                </div>
                <div class="img-topo-site">
                        <img src="static/asset/img/robsonCard.jpg" style="border-radius: 15px; height: auto; width: 350px">
                </div>
            </div>
        </div>
    </section>

    <section class="especialidades" id="especialidades">
        <div class="interface">
            <h2 class="titulo">NOSSOS <span>SERVIÇOS.</span></h2>
                <div class="flex">
                    <div class="especialidades-box" style="background-image: url(/templates/static/asset/img/equipe.jpg); background-size: cover">
                        <i class="bi bi-gear"></i>
                        <h3> Manutenção </h3>
                        <p>Profissionais Qualificados: Nossa equipe é composta por
                            técnicos altamente treinados e experientes.</p>
                    </div>


                    <div class="especialidades-box" style="background-image: url(/templates/static/asset/img/tubulacao-com-torneiras.jpg); background-size: cover">
                        <i class="bi bi-gear"></i>
                        <h3> Detecção e reparo de vazamentos </h3>
                        <p>Profissionais Qualificados: Nossa equipe é composta por
                            técnicos altamente treinados e experientes.</p>
                        </div>

                    <div class="especialidades-box" style="background-image: url(/templates/static/asset/img/cisternas.avif); background-size: cover">
                        <i class="bi bi-gear"></i>
                        <h3>Manutenção de Cisternas </h3>
                        <p>Nossa equipe é composta por
                            técnicos altamente treinados e experientes.</p>
                        </div>

                    <div class="especialidades-box" style="background-image: url(/templates/static/asset/img/encanamento2.jpg); background-size: cover">
                        <i class="bi bi-gear"></i>
                        <h3> Instalação de drenos </h3>
                        <p>Nossa equipe é composta por
                            técnicos altamente treinados e experientes.</p>
                        </div>

                    <div class="especialidades-box" style="background-image: url(/templates/static/asset/img/vazamento2.jpg); background-size: cover">
                        <i class="bi bi-gear"></i>
                        <h3> Reparo de Vazamentos </h3>
                        <p>Nossa equipe é composta por
                            técnicos altamente treinados e experientes.</p>
                        </div>

                    <div class="especialidades-box" style="background-image: url(/templates/static/asset/img/maquina2.jpg); background-size: cover">
                        <i class="bi bi-gear"></i>
                        <h3> Limpeza de Esgotos </h3>
                        <p>Nossa equipe é composta por
                            técnicos altamente treinados e experientes.</p>
                        </div>
                </div>
            </div>
    </section>


    <section class="sobre" id="sobre">
        <div class="interface">
            <div class="flex">
                <div class="img-sobre">
                        <img src="static/asset/img/Sobre.jpg" style="border-radius: 15px; height: auto; width: 350px">
                </div>
                <div class="txt-sobre">
                    <h2> MUITO PRAZER,<span> SOU ROBSON CORREIA ALVES</span></h2>
                    <p>fundador e proprietário da "Criative Hidráulica", uma empresa conhecida pela inovação e excelência em soluções hidráulicas.
                        Com uma vasta experiência de mais de 10 anos no campo da hidráulica, Robson começou sua jornada como aprendiz e rapidamente
                        se destacou por sua habilidade em diagnosticar e resolver os problemas mais complexos.
                        Seu compromisso com o serviço, atendimento e os resultados para os clientes o motivou a criar sua própria empresa.</p>

                    <p>entendemos a importância de um sistema hidráulico eficiente e confiável em sua casa ou condomínio.
                        oferecendo soluções rápidas, eficientes e econômicas para todos os seus problemas hidráulicos.</p>

                    <div class="btn-social">
                        <a href="https://www.instagram.com/robson.correia.3557/" target="_blank"><button><i class="bi bi-instagram"></i></button></a>
                        <a href="https://www.facebook.com/robson.correia.3557" target="_blank"><button><i class="bi bi-facebook"></i></button></a>
                        <a href="https://wa.me/5521967523816?text=I'm%20interested%20in%20your%20car%20for%20sale'" target="_blank"><button><i class="bi bi-whatsapp"></i></button></a>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section class="portifolio" id="portifolio">
        <h2 class="titulo">MEU <span>PORTIFOLIO</span></h2>
        <div class="interface">
                <button class="arrow-left control" aria-label="Previous image">◀</button>
                <button class="arrow-right control" aria-label="Next Image">▶</button>

           <div class="flex">

                <img class="img-port current-item" src="static/asset/img/roler.jpg">
                <img class="img-port" src="static/asset/img/roler2.jpg">
                <img class="img-port" src="static/asset/img/roler3.jpg">
                <img class="img-port" src="static/asset/img/model3.jpg">
                <img class="img-port" src="static/asset/img/model1.jpg">
                <img class="img-port" src="static/asset/img/model2.jpg">
                <img class="img-port" src="static/asset/img/drenos.jpg">
                <img class="img-port" src="static/asset/img/roler2.jpg">
                <img class="img-port" src="static/asset/img/roler3.jpg">
                <img class="img-port" src="static/asset/img/model3.jpg">

            </div>
        </div>
    </section>

    <section class="formulario" id="formulario">
    <div class="interface">
        <h2 class="titulo">FALE <span>COMIGO.</span></h2>
        <form method="post" action="https://api.staticforms.xyz/submit" id="form">
            <input type="hidden" name="accessKey" value="6586223c-5ed9-4e07-8a82-9132b562a94b">
            <input type="text" name="honeypot" style="display: none;"> <!-- Optional -->
            <input type="hidden" name="redirectTo" value="http://localhost:63342/Criative-Hidraulica-App/templates/page.html?_ijt=eqajkbtrum93qu130jl8jn909c&_ij_reload=RELOAD_ON_SAVE">


            <div class="input-container">
                <label for="nome">Nome: </label>
                <input type="text" name="name" id="nome" placeholder="informe seu Nome" style="width: 60%" required>
            </div>
            <div class="input-container">
                <label for="email">Email: </label>
                <input type="text" name="name" id="email" placeholder="informe seu email" style="width: 60%" required>
<!--             <div id="errorMessage" class="text-warning" style="height: 20px;padding: 5px;"></div>-->
            </div>
            <div class="input-container">
                <label for="phone">Telefone: </label>
                <input type="text" name="phone" id="phone" placeholder="informe seu telefone de contato" style="width: 60%">
            </div>
            <div class="input-container">
                <label for="service">Serviço: </label>
                <input type="text" name="subject" id="service" placeholder="Qual sua solicitação ?" style="width: 60%">
            </div>
            <div class="input-container">
                <label for="problem">Problema: </label>
                <textarea name="message" id="problem" placeholder="Conte-nos sobre seu problema" required></textarea>
            </div>

            <div class="btn-enviar"><input type="submit" value="ENVIAR">
            </div>
        </form>
    </div>

</section>

</main>
<footer>
    <div class="interface">
        <div class="line-footer">
            <div class="flex">
                <div class="logo-footer">
                 <img  src="static/asset/img/criative.jpg" alt="Criative Logo" style="width: 150px; height: auto;">
                </div>
                    <div class="btn-social">
                        <a href="https://www.instagram.com/cri.ativ/" target="_blank"><button><i class="bi bi-instagram"></i></button></a>
                        <a href="https://www.facebook.com/Criativehi" target="_blank" ><button><i class="bi bi-facebook"></i></button></a>
                        <a href="https://wa.me/5521967523816?text=I'm%20interested%20in%20your%20car%20for%20sale'" target="_blank"><button><i class="bi bi-whatsapp"></i></button></a>
                    </div>
            </div>
        </div>

        <div class="line-footer">
             <p><i class="bi bi-telephone-fill"></i>(21)96752-3816</p>
            <p><i class="bi bi-geo-alt-fill"></i>Rua Estrela Nova 14, Rio de janeiro, Cascadura</p>
            <p><i class="bi bi-envelope-fill"></i> <a href="mailto:criativehidraulica@gmail.com">criativehidraulica@gmail.com</a></p>
            <p style="text-align: center">&copy; 2023 Criative Hidráulica. Todos os direitos reservados.</p>
            <p style="text-align: center"><i class="bi bi-github"></i>  Desenvolvido por <span><a href="https://github.com/thiago-ndev" target="_blank">Thiago Alves</a></span></p>
        </div>
    </div>
</footer>

</body>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</html>
