*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body{
    background-color: rgba(0, 0, 0, 0.65);
    height: 100vh;

}
.logo img {
    width: 150px;  /* Ajuste conforme necessário */
    height: auto;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.btn-contato button{
    padding: 10px 10px;
    font-size: 18px;
    background-color: lightskyblue;
    font-weight: 600;
    color: black;
    border: 0;
    border-radius: 20px;
    cursor: pointer;
}

h2.titulo{
    color: #ffff;
    font-size: 34px;
    text-align: center;
}
h2.titulo span{
    color: lightskyblue;
}

button:hover, form .btn-enviar input:hover{
    box-shadow: 0px 0px 10px #80bdff;
    transform: scale(1.10);
    transition: 1s;

}

/* Estilo geral */

header{
        background-color: rgba(0, 0, 0, 0.68);
    padding: 80px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;

}


header a{
    color: #fff;
    text-decoration-color: lightskyblue;
    display: inline-block;

}
header nav.menu-desktop a:hover{
    color: #709cde;
    transform: scale(1.25);
    transition: .2s;
    transition-duration: 1s;
}

header nav.menu-desktop ul{
    list-style-type: none;

}

header nav.menu-desktop ul li{
    display: inline-block;
    padding: 0 40px;
}


/* Menu Mobile */


/* Topo do site */

section.topo-do-site{
    padding: 40px 4%;

}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

section.topo-do-site h1{
    color: white;
    font-size: 30px;
    line-height: 40px;
}
.topo-do-site .txt-topo-site h1 span{
    color: lightskyblue;
}

.topo-do-site .txt-topo-site p{
    color: white;
    margin: 40px 0;
    font-size: 14px;
}

.topo-do-site .img-topo-site img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

.topo-do-site .txt-topo-site .btn-contato{
    gap: 15px;
}


@keyframes flutuar {
    0% {
        top: 0;
    }
    100%{
        top: 30px
    }
}

section.especialidades{
    background-color: rgba(0, 0, 0, 0.68);
    padding: 40px 4%;
    display: flex;
}
section.especialidades .flex{
    flex-wrap: wrap;
    gap: 20px;
}

.especialidades .especialidades-box{
    max-width: 350px;
    color: #fff;
    padding: 40px;
    border: 2px solid #ffff;
    margin-top: 45px;
    border-radius: 20px;
    transition: .2s;
}
.especialidades .especialidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 10px rgba(128, 189, 255, 0.58);

}

.especialidades .especialidades-box i{
    font-size: 70px;
    color: lightskyblue;
}

.especialidades .especialidades-box h3{
        font-size: 28px;
        margin: 15px 0;

}

/* SECTION SOBRE */

section.sobre{
    padding: 80px 4%;

}

section.sobre .flex{
    align-items: center;
    gap: 60px;

}

.sobre .txt-sobre{
    color: #fff;

}

.sobre .txt-sobre h2{
    line-height: 40px;
    font-size: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span{
    color: lightskyblue;
    display: block;
}

.sobre .txt-sobre p{
    margin: 10px 0;
    text-align: justify;
}

.btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 0;
    background-color: lightskyblue;
    font-size: 22px;
    cursor: pointer;
    margin: 5px;

}

/* ESTILO PORTIFOLIO */


section.portifolio{
    background-color: rgba(0, 0, 0, 0.68);
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px rgba(255, 255, 255, 0.42);
    position: relative;
    max-width: 100%;
    margin: 0 auto;

}

section.portifolio .flex{
  display: flex;
  flex-flow: row nowrap;
  gap: 15px;

}

section.portifolio .interface{
     overflow-x: auto;
}


.arrow-left,
.arrow-right {
  position: absolute;
  top: 0;
  left: 0;
  right: auto;
  bottom: 10px;
  font-size: 20px;
  line-height: 250px;
  width: 40px;
  color: #fff;
  transition: all 600ms ease-in-out;
  background: linear-gradient(to left, transparent 0%, black 200%);
  opacity: 0.1;
  cursor: pointer;
  border: none;
}


.arrow-right {
  right: 0;
  left: auto;
  text-align: right;
  background: linear-gradient(to right, transparent 0%, black 200%);
}

.arrow-left:hover,
.arrow-right:hover{
    opacity: 1.5;
}

section.portifolio .interface button:hover{
    transition: 1s;
    transform: none;
    box-shadow: none;



}


.img-port{
    width: 250px;
  height: 250px;
  flex-shrink: 0;
  transition: all 400ms ease-in-out;
  opacity: 0.5;
}

.current-item{
    opacity: 6;
    border: 3px solid lightskyblue;

}
section.portifolio .interface::-webkit-scrollbar {
  display: none;
}

section.portifolio .interface::-webkit-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.cyan {
  background: cyan;
}

.deeppink {
  background: deeppink;
}

.turquoise {
  background: turquoise;
}

.darkblue {
  background: darkblue;
}

.purple {
  background: purple;
}

/* This is from w3schools */
/*
https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp */
/* Hide scrollbar for Chrome, Safari and Opera */



/* section formulario */

section.formulario{
    padding: 80px 4%;
    border-radius: 5px;
}

section.formulario .interface{
    border: #4e555b;
    background-color: rgba(0, 0, 0, 0.68);
    border-radius: 15px;
}





form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

form input, textarea{
    width: 100%;
    background-color: #424242;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #ffff;
    font-size: 18px;

}

form input::placeholder{
    color: #ffff;
    max-height: 200px;
}


form textarea{
    resize: none;
}

form .btn-enviar{
    margin-top: 20px;
    text-align: center;

}


form label {
    color: #ffffff; /* Cor da fonte para as etiquetas */
    margin-bottom: 5px; /* Espaço abaixo da etiqueta */
    font-size: 18px;
}

.input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.input-container label {
    color: #ffffff;
    margin-right: 10px; /* Espaço entre o label e o input */
    white-space: nowrap; /* Garante que o texto do label não quebre linha */
    flex-shrink: 0; /* Previne o label de encolher */
}

.input-container input::placeholder,
.input-container textarea::placeholder {
    color: rgba(255, 255, 255, 0.42);
}


form .btn-enviar input[type=submit]{
    width: 120px;
    background-color: lightskyblue;
    color: #000000;
    cursor: pointer;
    font-weight: 700;
    transition: 2s;

}

/* estilo rodapé */
footer{
    background-color: rgba(0, 0, 0, 0.68);
    padding: 50px 4%;
    box-shadow: 0 0 40px 10px rgba(255, 255, 255, 0.42);

}


footer .flex{
    justify-content: space-between;

}

footer .line-footer{
    padding: 15px 0;
}

footer .line-footer p i{
    color: lightskyblue;
    font-size: 22px;
}

.borda{
    border-top: 2px solid lightskyblue;
}

footer .line-footer p,a{
    color: #fff;
}

@media screen and (max-width: 1020px){

    /* classes Gerais */
    .flex{
        flex-direction: column;
    }


    /* Cabeçalho */
    .menu-desktop, .btn-contato{
        display: none;
    }


    section.topo-do-site{
        padding: 20px 8%;
    }

    .menu-mobile{
        display: block;
    background-color: rgb(0, 0, 0);
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0%;
    overflow: hidden;
    transition: .5s;

    }

    .menu-mobile.abrir-menu{
        width: 70%;
    }


    .btn-abrir-menu i{
        color: lightskyblue;
        font-size: 30px;
    }

    .menu-mobile.abrir-menu ~ .overlay-menu{
        display: block;
    }

    .overlay-menu{
        background-color: rgba(0, 0, 0, 0.79);
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 8888;
        display: none;

    }

    .menu-mobile .btn-fechar{
        padding: 20px 5%;
    }
    .menu-mobile .btn-fechar i{
        color: lightskyblue;
        font-size: 30px;
    }

    .menu-mobile nav ul{
        text-align: right;
        list-style-type: none;
    }

    .menu-mobile nav ul li a{
        font-size: 20px;
        font-weight: 100;
        padding: 20px 4%;
        display: block;
    }

    .menu-mobile nav ul li a:hover{
        background-color: #4e555b;
        color: black;

    }


    .topo-do-site .flex{
        flex-direction: column-reverse;
        gap: 40px;
    }

    .topo-do-site h1{
        font-size: 30px;
    }

    .topo-do-site .img-topo-site img{
        width: 70%;
    }

    .topo-do-site .txt-topo-site{
        font-size: 18px;
        line-height: 20px;
        text-align: center;
    }


    section.especialidades{
        padding: 40px 8%;
    }


    .sobre .flex{
        flex-direction: column-reverse;
    }

    .sobre .txt-sobre h2{
        font-size: 34px;
        line-height: 35px;
        text-align: center;
    }
    .sobre .txt-sobre p{
        font-size: 18px;
        line-height: 20px;
        text-align: center;
    }

    .sobre .btn-social{
        text-align: center;
    }

    .img-sobre img{
        width: 100%;
    }


    /* portifolio */

    section.portifolio{
        padding: 80px 8%;
    }

    .img-port {
        width: 100%;
        height: 360px;
        margin: 0 auto;

    }
    section.portifolio .flex{
        gap: 60px;
    }

    footer .line-footer{
        text-align: center;
    }

    footer .flex{
        flex-direction: column;
    }

}


@media screen and (min-width: 1021px){
    .menu-mobile{
        display: none;
    }

    .btn-abrir-menu{
        display: none;
    }
}